.section-title {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;

    h1 {
        color: var(--verywhite__clr);
        font-size: var(--big__size);
        display: inline-block;

        label {
            color: var(--special__1);
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background: var(--white__clr);
    }

    @media screen and (width <= 700px) {
        gap: 1.5rem;
    }
}