.home {
	&.yellow {
		--special__1: rgb(226, 239, 47);
		--special__1__trs: rgba(226, 239, 47, 0.2);
	}
	&.red {
		--special__1: rgb(239, 63, 47);
		--special__1__trs: rgba(239, 63, 47, 0.2);
	}
	&.orange {
		--special__1: rgb(226, 145, 30);
		--special__1__trs: rgba(226, 145, 30, 0.2);
	}
	&.green {
		--special__1: rgb(43, 199, 22);
		--special__1__trs: rgba(43, 199, 22, 0.2);
	}

	&__container {
		position: relative;
		overflow: hidden;
		padding-left: 80px;
		padding-right: 20px;

		width: 100%;
		max-width: 1800px;
		margin: 0 auto;

		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.section {
			&:not(.hero) {
				width: 100%;
				max-width: 1000px;
				padding-top: 80px;
			}
		}

		@media screen and (width <= 700px) {
			padding-left: 20px;
		}
	}
}
